In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('weight-height.csv')
df.sample(5)

      Gender     Height      Weight
8044  Female  64.425369  151.564256
3898    Male  67.031980  171.732943
9095  Female  66.249361  140.799489
4261    Male  72.558372  198.809187
1720    Male  66.914894  169.882490

In [4]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [5]:
df.dtypes

Gender     object
Height    float64
Weight    float64
dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  float64
 2   Weight  10000 non-null  float64
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [8]:
df.isna().sum()

Gender    0
Height    0
Weight    0
dtype: int64

In [11]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801